
.appHome {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    border-radius: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: Arial; 
}

title {
    font-size: larger;
    font-size: 70px;
}



.Illustrations {
    display: none;
    width: 40%;
}

/* .formDiv {
    width: 60%;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
} */

form {
    margin: auto;
    width: 95%;
    border-radius: .5rem;
    margin-top: 10%;
    
}

/* .formIllustrations {
    display: none;
} */


/* svg {
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
} */

.nextBtn,
.backBtn {
    background-color: black;
    color: white;
    width: 100px;
    border-radius: .5rem;
    margin-top: 3%;
    margin-left: 20%;
}

/* .backNextBtn {
    border: 1px solid red;
    display: flex;
    width: 70%;
    margin-left: 5%;

} */

.pageCounter {
 text-align: center;
}



/* ===================================== Large devices (laptops/desktops, 992px and up) ====================================== */
@media only screen and (min-width: 992px) {


 .appHome {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    border-radius: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    font-family: Arial; 
}

title {
    font-size: larger;
    font-size: 70px;
}

.formDiv {
    width: 60%;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: auto;
    width: 95%;
    border-radius: .5rem;
    margin-top: 10%;
    
}

.formIllustrations {
    display: flex;
}


.Illustrations {
    display: flex;
    width: 40%;
}

svg {
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.nextBtn,
.backBtn {
    background-color: black;
    color: white;
    width: 100px;
    border-radius: .5rem;
    margin-top: 3%;
    margin-left: 20%;
}


  
}