input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

input, label {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* ===================== Small devices (portrait tablets and large phones, 600px and up) ========================= */

@media only screen and (min-width: 768px) {



  input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


input, label {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.names {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 75%;
    margin-left: 13%;
}


.firstname input, .lastName input {
    width: 97%;
}

.firstname label, .lastName label {
    width: 100%;
}  

}